<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
	<meta name="content" content="width=device-width;initial-scale=1.0"/>
	<link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true">
</head>
<body>
	@RenderBody()
</body>
</html>