<div class="d-flex flex-column align-items-center">
	<h1 class="display-4 mt-2">@ViewBag.Message</h1>
	<a class="btn btn-outline-dark mt-2" asp-controller="Main" asp-action="App">
		<img class="icon" src="~/icons/home.ico"/>
	</a>
</div>

@section scripts {
	<script src="~/lib/jquery/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}