@{
	ViewData["Title"] = " - Главная";
}

<h1 class="display-4 text-center mt-5">Добро Пожаловать</h1>

@section navItems {
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="modal" data-bs-target="#signUpModal">Регистрация</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="modal" data-bs-target="#signInModal">Вход</a>
	</li>
}

@section scripts {
	<script src="~/lib/jquery/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}