@{
	ViewData["Title"] = " - Главная";
}

<h1 class="display-4 text-center mt-5">Добро Пожаловать</h1>

@section navItems {
	<partial name="_SignInSignOut"/>
}

@section scripts {
	<script src="~/lib/jquery/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}